/* merriweather-latin-400-normal */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    display: block;
}

hr {
    background-color: #d1d1d1;
    height: 1px;
    width: 100px;
    max-width: 100px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-tag {
    margin-right: $spacing-unit / 2;
}

.post-list > li {
    margin-bottom: 50px;
}

.post-header {
    text-align: left;
    border-bottom: none;
    padding: 0;
}

.site-header {
    border-top: none;
}
