img {
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    display: block;
}

hr {
    background-color: #d1d1d1;
    height: 1px;
    width: 100px;
    max-width: 100px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-tag {
    margin-right: $spacing-unit / 2;
}

.post-list > li {
    margin-bottom: 50px;
}
